@import "/src/styles";

.navbar {
  padding: 16px;

  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      margin-left: 16px;
      padding: 0;

      font-weight: 500;
      font-size: 16px;
      color: $main-color;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      user-select: none;

      &.active {
          color: $main-color-030;
      }

      &:hover {
        transform: rotateZ(10deg);
      }
    }
  }
}
