<div class="modal">
    <div class="modal-header">
        <h3>Edit user</h3>
        <i (click)="close()" class="la la-times"></i>
    </div>

    <div *ngIf="data.user as user" class="modal-content">
        <form [formGroup]="userFormGroup">

            <div class="avatar">
                <img [src]="user.avatarUrl">
                <i class="la la-pen"></i>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Full name</mat-label>
                <input matInput formControlName="firstName" placeholder="Full name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" placeholder="Username">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" placeholder="E-mail">
            </mat-form-field>

            <div class="active">
                <mat-slide-toggle formControlName="isActive">User activ</mat-slide-toggle>
                
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="success small">Save</button>
        <button class="small" (click)="close()">Cancel</button>
    </div>

</div>