<div *ngIf="book" class="book">
    <img [src]="book.coverImage" class="book-cover">

    <div class="book-info">

        <div class="book-info--rating">
            <img src="assets/bean.png">
            <span>{{ book.ratingScore }}/ 5</span>
            ―
            <span>{{ book.totalRating }} Ratings</span>
        </div>

        <h2 class="book-info--title">
            {{ book.title }}
        </h2>

        <span class="book-info--author">
            <span>Author</span>
            <span>{{ book.author }}</span>
        </span>

        <div class="book-info--footer">
            <span class="book-info--footer__price">
                <span *ngIf="book.specialPrice" class="special-price">{{ book.specialPrice }} Lei</span>
                <span [class.has-special]="book.specialPrice">{{ book.price }} Lei</span>
            </span>

            <div class="book-info--footer__shop">
                <i class="las la-shopping-cart"></i>
                <i (click)="isFavorite = !isFavorite" class="las" [ngClass]="isFavorite ? 'la-heart' : 'la-heart-broken'"></i>
            </div>
        </div>

    </div>
</div>