@import "src/styles";


.search {
  display: flex;
  align-items: center;

  max-width: 400px;
  margin: 100px auto;
  position: relative;

  input {
    width: 300px;
    padding: 16px 48px;
    border: 1px solid $main-color-030;
    caret-color: $main-color-030;
    border-radius: 8px;
    background-color: transparent;
    font-size: 20px;
    letter-spacing: 1.4;

    &:focus,
    &:hover,
    &:active {
      border: 1px solid $main-color;
      outline: none;
    }
  }

  i {
    font-size: 24px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) scaleX(1);
    transform: translateY(-50%) scaleX(1);
    border: none;

    &.la-times {
      right: 8px;
      cursor: pointer;
    }

    &.la-search {
      left: 8px;
      -webkit-transform: translateY(-50%) scaleX(-1);
      transform: translateY(-50%) scaleX(-1);
    }
  }
}

.books {
  max-width: 1220px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

