$background-color: #fcecd4;
$main-color: #4a2b05;
$secondary-color: #ab6311;

$main-color-020: #8f632b;
$main-color-030: #ab6311;
$main-color-040: #e4ae70;
$main-color-050: #cf912f;
$main-color-060: #ac7726;