
form {
    display: flex;
    flex-direction: column;
  
    margin: 100px auto;
    max-width: 400px;
  
    padding: 16px 24px;
  
    img {
        display: block;
        margin: 24px auto;
        width: 150px;
    }
  
    h1 {
        text-align: center;
    }
  
    a {
        margin-top: 8px;
        text-align: end;
        color: black;
        text-decoration: none;
        cursor: pointer;
  
        &:hover {
            text-decoration: underline;
        }
    }
  }
  